* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 800px;
      height: 800px;
    }


.slide1 {
  background-image: url("../images/beach.jpg");
  border: 5px solid white;

}

.slide2 {
  background-image: url("../images/makeup.jpg");
  border: 5px solid white;
}

.slide3 {
  background-image: url("../images/picnic.jpg");
  border: 5px solid white;
}

.slide4 {
  background-image: url("../images/product.jpg");
  border: 5px solid white;
}

.slide5 {
  background-image: url("../images/shoes.jpg");
  border: 5px solid white;
}

.slide6 {
  background-image: url("../images/fashion.jpg");
  border: 5px solid white;
}
